<div>
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title w-100">NRC PROJET</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Merci de nous faire confiance.</p>
      </div>
      <div class="modal-footer">
        <a routerLink="/donate">Continuer</a>
      </div>
    </div>
  </div>
</div>
