.box{
  box-shadow: 2px 4px 15px 0px rgb(0, 0, 0, 0.5) !important
}

.form-control {
  border: none;
  padding-left: 32px
}

.form-control:focus {
  border: none;
  box-shadow: none
}

.green {
  color: green
}
